exportPattern("^[[:alpha:]]+")

import(cartogram)
import(devtools)
import(dplyr)
import(DT)
import(ggplot2)
import(here)
import(leaflet)
import(maps)
import(maptools)
import(plotly)
import(sp)
import(stringr)
import(tmap)
import(tidyr)
import(shiny)
import(graphics)
import(utils)
